body{
    height: 100vh;
    margin: 0%;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    font-family: roboto;
}

#main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forms{
    background-color: rgb(255, 255, 255);
    height: 88%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

#head{
    /* background-color: lightblue; */
    height: 13%;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foot{
    /* background-color: lightblue; */
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width:96%;
    height:2px;
    background-color: rgba(219, 228, 234, 0.598);
}

#line-top{
    margin-bottom: 2%;
}

#line-bottom{
    margin-top: 2%;
}

#content{
    width: 100%;
    height: 75%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#reg{
    width: 90%;
    height: 50%;
    background-color: rgb(65, 61, 61);
    color: white;
    border: 0px;
}

.inp-set{
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
}

.lab{
    font-size: 0.95rem;
}

.inp{
    width: 95%;
    height: 45%;
    border-radius: 17px;
    border: 0px;
    font-size: 1.1rem;
    background-color: rgba(205, 204, 194, 0.349);
    color: rgb(58, 58, 58);
    padding: 2px 12px;
}

::placeholder{
    color: rgb(122, 118, 118);
    font-size: 1rem;
    padding-left: 7px;
}

