body{
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rainbow{
    display: flex;
    height: 5.2vw;
    width: 70%;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: grey;
}